html {
	// scroll-behavior: smooth;
}

body {
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--page-bg);
	font-size: 16px;
	letter-spacing: 0.01px;
}

img {
	display: block;
}

a {
	color: inherit;
}
