:root {
	--container-width: 1298px;
	--container-padding: 15px;

	--font-family: 'Nympha Trial', sans-serif;
  --second-family: 'SF Pro Display Regular', sans-serif;
	--second-family-medium: 'SF Pro Display Medium', sans-serif;


	--page-bg: #030303;
	--text-color: #fff;
	--nav-color: #f2f2f2;
	--info-color: #d6d0ce;

	// --back-opacity: 1;
}